* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: "InterVariable", sans-serif;
}

canvas {
  touch-action: none;
}

.interface {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.time {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  color: #ffffff;
  font-size: 6vh;
  background-color: #00000033;
  padding-top: 5px;
  text-align: center;
}

.cta {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  color: #ffffff;
  font-size: 80px;
  background-color: #00000033;
  padding: 10px 0;
  pointer-events: auto;
  cursor: pointer;
}

.controls {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
}

.controls .raw {
  display: flex;
  justify-content: center;
}

.controls .key {
  width: 40px;
  height: 40px;
  margin: 4px;
  border: 2px solid #ffffff;
  background: #ffffff44;
}

.controls .key.large {
  width: 144px;
  margin-bottom: 0;
}

.controls .key.active {
  background: #ffffff99;
}

.misc-controls {
  display: grid;
  gap: 16px;
  position: absolute;
  bottom: 10%;
  right: 40px;
}

.misc-control {
  display: flex;
  gap: 16px;
  
  color: #ffffff;
  font-size: 24px;
}

.high-score {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 20px;
  left: 40px;
  color: #ffffff;
  font-size: 16px;
  background-color: #00000033;
  height: 64px;
  padding: 0 16px;

  border-radius: 8px;
}

.audio-toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 20px;
  right: 40px;
  width: 64px;
  height: 64px;
  color: #ffffff;
  background-color: #00000033;
  border: none;
  cursor: pointer;
  pointer-events: auto;

  border-radius: 8px;
}

@media screen and (min-width: 2048px) {
  .high-score {
    left: 20vw;
  }

  .audio-toggle, .misc-controls {
    right: 20vw;
  }
}